body {
    margin: 0px;
}

body div{
    /*border-style:solid;*/
    /*border-width:1px;*/
    margin: 0px;
}

#root {
    position: absolute;
	height: 100%;
	width: 100%;
}

#top {
	height: 8%;
	width: 100%;
    display: flex;
    align-items: center;
    background: #e4e4e6;
}

#top .sys-name{
    width: 93%;
    display: inline-block;
    text-align: center;
    font-size: 140%;
}

#top .sys-btns {
    width: 7%;
}

#lower-part {
    position: absolute;
    height: 92%;
    width: 100%;
}

#lower-part #left{
    /*position: absolute;*/
    display: inline-block;
    background: #e4e4e6;
    width: 10%;
    height: 100%;
}
#lower-part #right{
    position: absolute;
    display: inline-block;
    background: #ffffff;
    width: 89%;
    height: 100%;
    /*border-style:solid;*/
    /*border-width:1px;*/
}

.sys-btn {
    width: 28px;
    height: 28px;
    border: none;
    outline: none;
    margin: 0;
}

.sys-btn-minis {
    background: url(../imgs/btn_mini_normal.png) no-repeat;
}

.sys-btn-minis:hover {
    border-radius: 0 4px 0 0;
    background: url(../imgs/btn_mini_highlight.png) no-repeat;
}

.sys-btn-minis:active {
    background: url(../imgs/btn_mini_down.png) no-repeat;
}

.sys-btn-big {
    background: url(../imgs/turnbig.png) no-repeat;
}

.sys-btn-big:hover {
    border-radius: 0 4px 0 0;
    background: url(../imgs/turnbig_light.png) no-repeat;
}

.sys-btn-closed {
    border-radius: 0 4px 0 0;
    background: url(../imgs/btn_close_normal.png) no-repeat;
}

.sys-btn-closed:hover {
    background: url(../imgs/btn_close_highlight.png) no-repeat;
}

.sys-btn-closed:active {
    background: url(../imgs/btn_close_down.png) no-repeat;
}

#left .funButton.mission-rehearsal {
    background: #c1bfc0;
}

#left .funButton {
    height: 8%;
    width: 100%;
    background: #e4e4e6;
}

#left .funButton button{
    height: 100%;
    width: 100%;
    border: none;
    background: none;
    font-size: 16px;
}


#right .video.task-set {
    /*position: absolute;*/
    height: 53%;
    width: 100%;
}

#right .video.task-set .video {
    display: inline-block;
    width: 63%;
    height: 95%;
    margin: 1%;
    background: #f8f9f4;
}

#right .video.task-set .task-set {
    display: inline-block;
    vertical-align: top;
    width: 32%;
    height: 95%;
    margin: 1%;
    /*background: #c9cc90;*/
}

#right .video.task-set .task-set button{
    height: 18px;
    font-size: 13px;
    text-align: center;
    vertical-align: middle;
    line-height: 13px;
}

#right .video.task-set .task-set p{
    font-size: 13px;
    vertical-align: middle;
    margin-bottom: 2px;
    margin-top: 0px;
}

#right .video.task-set .task-set span{
    font-size: 13px;
    margin-left: 20px;
}

#right .video.task-set .task-set select {
    font-size: 13px;
}

#right .task-set .title {
    width: 100%;
    height: 8%;
    margin-top: -5px;
    /*border-style:solid;*/
    /*border-width:1px;*/
}

#right .task-set .title .title-item {
    display: inline-block;
    width: 49%;
}

#right .task-set .set-support-group {
    width: 100%;
    height: 20%;
    border-style:solid;
    border-width:1px;
    border-color: #7c838a;
}

#right .set-aircraft-num {
    width: 100%;
    height: 60%;
    padding-bottom: 10px;
    border-style:solid;
    border-width:1px;
    border-color: #7c838a;
}

#right .set-aircraft-num .operate {
    width: 100%;
    height: 10%;
}

#right .set-aircraft-num .operate .buttonAdd {
    border:1px solid #1e7db9;
    box-shadow: 0 1px 2px #8fcaee inset,0 -1px 0 #497897 inset,0 -2px 3px #8fcaee inset;
    background: -webkit-linear-gradient(top, #43b1ee, #3091cc);
    background: -moz-linear-gradient(top, #47abec, #2f8fc8);
    background: linear-gradient(top, #42aeea, #2f92cc);
}

#right .set-aircraft-num .operate .buttonDelete {
    border:1px solid #b42323;
    box-shadow: 0 1px 2px #e99494 inset,0 -1px 0 #954b4b inset,0 -2px 3px #e99494 inset;
    background: -webkit-linear-gradient(top, #f13e3e, #e33434);
    background: -moz-linear-gradient(top, #e63c3c, #cb2a2a);
    background: linear-gradient(top, #eb3f3f, #cc2828);
}


#right .set-aircraft-num .aircraft-detail {
    width: 100%;
    height: 85%;
}

#right .set-aircraft-num .aircraft-detail .table-head {
    width: 96%;
}

#right .set-aircraft-num .aircraft-detail .table-body {
    width: 100%;
    height: 85%;
    margin-top: -2px;
    overflow-y: scroll;
}

#right .set-aircraft-num .aircraft-detail table {
    margin-top: 2px;
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    height: 100%;
}

#right .set-aircraft-num .aircraft-detail td,th {
    padding: 0;
    height: 23px;
    text-align: center;
    vertical-align: middle;
}

#right .set-aircraft-num .aircraft-detail .pure-table {
    border-collapse: collapse;
    border-spacing: 0;
    empty-cells: show;
    border: 1px solid #cbcbcb;
}

#right .set-aircraft-num .aircraft-detail .pure-table td,.pure-table th {
    border-left: 1px solid #cbcbcb;
    border-width: 0 0 0 1px;
    font-size: 13px;
    margin: 0;
    overflow: visible;
}

#right .set-aircraft-num .aircraft-detail .pure-table thead {
    background-color: #e0e0e0;
    color: #000;
}

#right .set-aircraft-num .aircraft-detail .pure-table td {
    background-color: transparent;
}

#right .set-aircraft-num .aircraft-detail .pure-table-bordered td {
    border-bottom: 1px solid #cbcbcb;
}

#right .set-aircraft-num .aircraft-detail .pure-table-bordered tbody>tr:last-child>td {
    border-bottom-width: 0;
}

#right .result {
    width: 100%;
    height: 10%;
    /*border-style:solid;*/
    /*border-width:1px;*/
}




#right .gantt-charts {
    /*position: absolute;*/
    height: 47%;
    width: 100%;
}

#right .gantt-charts .aircraft-chart {
    display: inline-block;
    width: 48%;
    height: 94%;
    margin: 1%;
    background: #f8f9f4;
}

#right .gantt-charts .resource-chart {
    display: inline-block;
    width: 47.5%;
    height: 94%;
    margin: 1%;
    background: #f8f9f4;
}